/* Contacto */

#main-contacto {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  h1 {
    margin-bottom: 50px;
  }
  textarea,
  input,
  select {
    width: 100%;
    margin-bottom: 30px;
    background-color: $secColor;
    color: white;
    border: solid 1px white;
    color-scheme: dark;
    &::placeholder {
      color: white;
      opacity: 0.7;
    }
  }
  .names {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7px;
    input {
      width: 100%;
    }
  }
  span {
    color: $markColor
  }
}
