/* FAQ */

#main-faq {
  img {
    width: 100%;
    margin-bottom: 30px;
  }
  #container-faq {
    #sec5 {
      width: 100%;
      .modal.fade {
        color: black;
      }
    }
  }
  .modal.fade {
    font-weight: bold;
    textarea {
      font-weight: bolder;
    }
  }
  span {
    font-weight: 900;
    color: $mark-color;
  }
}

// details y summary están a parte porque sino la animación no funciona

details {
  margin-bottom: 2vw;
  border: solid 2px;
  background-color: $ter-color;
  padding: 5px;
  p {
    padding: 8px 8px 0 8px;
  }
  &[open] summary ~ *{
    animation: sweep .5s ease-in-out;
  }
  @keyframes sweep {
    0%    {opacity: 0; margin-left: -10px}
    100%  {opacity: 1; margin-left: 0px}
  }
}
summary {
  display: block;
  position: relative;
  margin-bottom: 0;
  padding: 8px;
  &::before,
  &::after {
    width: 0.75em;
    height: 2px;
    position: absolute;
    top: 50%;
    right: 0;
    content: "";
    background-color: white;
    transform: translateY(-50%);
    transition: transform 0.2s ease-in-out;
  }
  &::after {
    transform: translateY(-50%) rotate(90deg);
    [open] & {
      transform: translateY(-50%) rotate(180deg);
    }
  }
}
