/* FAQ */

#main-faq {
    img {
        width: 100%;
        margin-bottom: 30px;
    }
    #container-faq {
        #sec5 {
            width: 100%;
        }
        #sec5 {
            h3 {
                font-size: 30px;
                animation-name: no;
                animation-duration: 3s;
                animation-iteration-count: infinite;
            }
            @keyframes no {
                50% {
                    color: red;
                }
            }
            details {
                margin-bottom: 2vw;

            }
            summary {
                cursor: pointer;
                padding: 5px;
                margin-bottom: 20px;
                border: solid 2px;
                background-color: $terColor;
                display: flex;
                align-items: center;
                justify-content: space-between;
                i {
                    margin-right: 10px;
                    &:hover {
                        animation-name: mais;
                        animation-duration: 1s;
                    }
                    @keyframes mais {
                        0%{transform: rotate(0deg)};
                        100% {transform: rotate(180deg)};
                    }
                }
            }
            .modal.fade {
                color: black;
            }
        }
    }
}