/* General */

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100&display=swap');

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    position: relative;
    scroll-behavior: smooth;
}

body {
    font-family: 'Prompt';
    background-image:url(../images/pex4.jpg);
    background-color: white;
    font-weight: 600;
}

a {
    text-decoration: none;
}

header {
    grid-area: header;
}

main {
    grid-area: header;
}

footer {
    grid-area: footer;
}

/* Header */

header {
    margin-bottom: 50px;
    nav {
        img {
            width: 60px;
            margin-right: 20px;
        }
    }
}
/* Main */

main {
    width: 80%;
    margin: 0 auto;
    justify-self: center;
    margin-bottom: 190px;
    color: white;
    position: relative;
    padding: 50px;
    border-radius: 50px;
    .carousel.slide {
        width: 70%;
        display: flex;
        margin: 0 auto;
        margin-bottom: 50px;
        border-radius: 20px;
        img {
            border-radius: 20px;
        }
        h5 {
            font-weight: 600;
            letter-spacing: 2px;
        }
        p {
            opacity: 0.9;
        }
    }
    h1 {
        text-align: center;
        margin-bottom: 30px;
    }
    .art {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
        display: grid;
        gap: 30px;
        .cuadros {
            margin: 0 auto;
            text-align: center;
            font-size: 20px;
            padding: 20px;
            background-color: $secColor;
            border-radius: 20px;
            h5 {
                font-weight: 600;
                margin-bottom: 10px;
            }
            .cuadros-img {
                width: 300px;
                border-radius: 10px;
            }
            .location {
                margin-right: 8px;
                &:hover {
                    font-size: 25px;
                    color: red;
                }
            }
            p {
                font-weight: 600;
                opacity: 0.8;
            }
            .btn {
                font-weight: 600;
            }
        }
    }
}

/* Footer */

footer {
    padding-top: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    .redes {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto 0;
        .icons {
            display: flex;
            justify-content: space-evenly;
            width: 60%;
            i {
                font-size: 30px;
                color: white;
            }
            #insta:hover {
                animation-name: insta;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                @include instaAnim
            }
            #twitter:hover {
                color: map-get($map:$redes, $key:twitter );
                transition: 1s;
                transform: rotate(-40deg);
            }
            #github:hover {
                color: map-get($map:$redes, $key:github );
                @extend #twitter:hover;
                opacity: 0.8;
            }
        }
    }
    .part1 {
        width: 30%;
        display: flex;
        margin: auto 0;
        justify-content: center;
        img {
            width: 50px;
            height: 50px;
        }
        h5 {
            margin-left: 10px;
            font-weight: 600;
        }
        .derechos {
            text-align: left;
        }
    }
    .part2 {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        ul {
            list-style: none;
            text-align: left;
            li {
                a {
                    color: white;
                    opacity: 0.8;
                    &:hover {
                        color: lightblue;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

/* Flecha */

#up {
    i{
        color:white;
        font-size: 22px;
        &:hover {
            color: gray;
        }
    }
}

/* Todas las Páginas */

#main-aportes, #main-fav {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 75%;
}