// Variables

$mainColor: gray;
$secColor: #2C394B; 
$terColor: #383838;

$w-100: 100%;
$i: 1;

$festividad: "Butrap";

// Mixin

@mixin instaAnim {
    @keyframes insta {
        0% {color: #f09433;}
        33% {color: orange;}
        66% {color: red;}
        100% {color: purple ;}
    }
}

// Map

$redes: (
    twitter: lightblue,
    github: gray,
    send-mail: #C25E30
);