// Variables

$mainColor: gray;
$secColor: #2c394b;
$terColor: #383838;
$spanColor: #750550;
$markColor: #f68989;

$w-100: 100%;

$festividad: "Butrap";

// Mixin

@mixin instaAnim {
  @keyframes insta {
    0% {
      color: #f09433;
    }
    33% {
      color: orange;
    }
    66% {
      color: red;
    }
    100% {
      color: purple;
    }
  }
}

@mixin cargador {
  @keyframes okupa {
    0% {width: 100%; height: 100%; z-index: 100;}
    99% {width: 100%; height: 100%; z-index: 100;}
    100% {width: 0; height: 0; z-index: 0;}
  }
}

// Map

$redes: (
  twitter: lightblue,
  github: gray,
  send-mail: #c25e30,
);
