@charset "UTF-8";
/* General */
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  min-height: 100%;
  scroll-behavior: smooth; }

body {
  font-family: "Prompt";
  background-image: url(../images/pex4.jpg);
  background-color: white;
  font-weight: 600; }

a {
  text-decoration: none; }

header {
  grid-area: header; }

main {
  grid-area: header; }

footer {
  grid-area: footer; }

/* Header */
header {
  margin-bottom: 50px; }
  header nav img {
    width: 60px;
    margin-right: 20px; }

/* Main */
main {
  width: 80%;
  margin: 0 auto;
  justify-self: center;
  margin-bottom: 50px;
  color: white;
  position: relative;
  padding: 20px;
  border-radius: 50px; }
  main .carousel.slide {
    width: 70%;
    display: flex;
    margin: 0 auto;
    margin-bottom: 50px;
    border-radius: 20px; }
    main .carousel.slide img {
      border-radius: 20px; }
    main .carousel.slide h5 {
      font-weight: 600;
      letter-spacing: 2px; }
    main .carousel.slide p {
      opacity: 0.9; }
  main h1 {
    text-align: center;
    margin-bottom: 30px; }
  main .art {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
    display: grid;
    gap: 30px; }
    main .art .cuadros {
      margin: 0 auto;
      text-align: center;
      font-size: 20px;
      padding: 20px;
      background-color: #2c394b;
      border-radius: 20px; }
      main .art .cuadros h5 {
        font-weight: 600;
        margin-bottom: 10px; }
      main .art .cuadros .cuadros-img {
        width: 300px;
        border-radius: 10px; }
      main .art .cuadros .location {
        margin-right: 8px;
        color: white; }
        main .art .cuadros .location:hover {
          font-size: 25px;
          color: red; }
      main .art .cuadros p {
        font-weight: 600;
        opacity: 0.8; }
      main .art .cuadros .btn {
        font-weight: 600; }

/* Footer */
footer {
  padding-top: 20px;
  width: 100%;
  padding-bottom: 10px;
  color: white;
  display: flex;
  justify-content: space-between; }
  footer .redes {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0; }
    footer .redes .icons {
      display: flex;
      justify-content: space-evenly;
      width: 60%; }
      footer .redes .icons i {
        font-size: 30px;
        color: white; }
      footer .redes .icons #insta:hover {
        animation-name: insta;
        animation-duration: 2s;
        animation-iteration-count: infinite; }

@keyframes insta {
  0% {
    color: #f09433; }
  33% {
    color: orange; }
  66% {
    color: red; }
  100% {
    color: purple; } }
      footer .redes .icons #twitter:hover, footer .redes .icons #github:hover {
        color: lightblue;
        transition: 1s;
        transform: rotate(-40deg); }
      footer .redes .icons #github:hover {
        color: gray;
        opacity: 0.8; }
  footer .part1 {
    width: 30%;
    display: flex;
    margin: auto 0;
    justify-content: center; }
    footer .part1 img {
      width: 50px;
      height: 50px; }
    footer .part1 h5 {
      margin-left: 10px;
      font-weight: 600; }
    footer .part1 .derechos {
      text-align: left; }
  footer .part2 {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    footer .part2 ul {
      list-style: none;
      text-align: left; }
      footer .part2 ul li a {
        color: white;
        opacity: 0.8; }
        footer .part2 ul li a:hover {
          color: #f68989;
          opacity: 1; }

/* Flecha */
#up i {
  padding: 20px;
  border-radius: 50px;
  background-color: gray;
  color: white;
  font-size: 22px;
  position: fixed; }
  #up i:hover {
    transition: 1s;
    transform: scale(1.15); }

/* Todas las Páginas */
#main-aportes,
#main-fav {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 75%; }

/* Contacto */
#main-contacto {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center; }
  #main-contacto h1 {
    margin-bottom: 50px; }
  #main-contacto textarea,
  #main-contacto input,
  #main-contacto select {
    width: 100%;
    margin-bottom: 30px;
    background-color: #2c394b;
    color: white;
    border: solid 1px white;
    color-scheme: dark; }
    #main-contacto textarea::placeholder,
    #main-contacto input::placeholder,
    #main-contacto select::placeholder {
      color: white;
      opacity: 0.7; }
  #main-contacto .names {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7px; }
    #main-contacto .names input {
      width: 100%; }

/* Nosotros */
#contain-us {
  text-decoration: none;
  display: grid;
  grid-template-columns: 2fr 6fr;
  grid-template-areas: "sec2 sec1" "sec3 sec4";
  gap: 20px; }
  #contain-us span {
    font-weight: 900;
    color: #f68989; }
  #contain-us #sec1 {
    grid-area: sec1; }
    #contain-us #sec1 p {
      text-align: justify;
      margin-bottom: 10px; }
  #contain-us #sec2 {
    grid-area: sec2; }
  #contain-us #sec3 {
    grid-area: sec3;
    justify-self: center;
    align-self: center; }
    #contain-us #sec3 img {
      width: 100%; }
    #contain-us #sec3 p {
      text-align: justify;
      margin-bottom: 10px; }
    #contain-us #sec3 h3 {
      display: flex;
      justify-content: center;
      margin: 10px; }
  #contain-us #sec4 {
    grid-area: sec4;
    align-self: center; }
    #contain-us #sec4 img {
      width: 100%;
      margin-top: 10px;
      border-radius: 20px; }
    #contain-us #sec4 p {
      text-align: justify; }
    #contain-us #sec4 h3 {
      display: flex;
      justify-content: center;
      margin: 10px; }

/* FAQ */
#main-faq img {
  width: 100%;
  margin-bottom: 30px; }

#main-faq #container-faq #sec5 {
  width: 100%; }
  #main-faq #container-faq #sec5 .modal.fade {
    color: black; }

#main-faq .modal.fade {
  font-weight: bold; }
  #main-faq .modal.fade textarea {
    font-weight: bolder; }

details {
  margin-bottom: 2vw;
  border: solid 2px;
  background-color: #383838;
  padding: 5px; }
  details p {
    padding: 8px 8px 0 8px; }

summary {
  display: block;
  position: relative;
  margin-bottom: 0;
  padding: 8px; }
  summary::before, summary::after {
    width: 0.75em;
    height: 2px;
    position: absolute;
    top: 50%;
    right: 0;
    content: "";
    background-color: white;
    transform: translateY(-50%);
    transition: transform 0.2s ease-in-out; }
  summary::after {
    transform: translateY(-50%) rotate(90deg); }
    [open] summary::after {
      transform: translateY(-50%) rotate(180deg); }
  summary span {
    font-weight: 900;
    color: #f68989; }

/* Eventos */
#main-eventos {
  width: 85%; }
  #main-eventos .div-btn {
    display: flex;
    justify-content: center; }
    #main-eventos .div-btn #noti-btn {
      margin-top: 20px; }
  #main-eventos .grid-events {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "event1 event2 event3" "event4 event5 event6" "event7 event8 event9";
    justify-items: center;
    gap: 20px; }
    #main-eventos .grid-events .event-1 {
      grid-area: event1; }
    #main-eventos .grid-events .event-2 {
      grid-area: event2; }
    #main-eventos .grid-events .event-3 {
      grid-area: event3; }
    #main-eventos .grid-events .event-4 {
      grid-area: event4; }
    #main-eventos .grid-events .event-5 {
      grid-area: event5; }
    #main-eventos .grid-events .event-6 {
      grid-area: event6; }
    #main-eventos .grid-events .event-7 {
      grid-area: event7; }
    #main-eventos .grid-events .event-8 {
      grid-area: event8; }
    #main-eventos .grid-events .event-9 {
      grid-area: event9; }
    #main-eventos .grid-events .card {
      border-radius: 20px; }
      #main-eventos .grid-events .card:hover {
        transform: scale(1.25);
        z-index: 10; }
      #main-eventos .grid-events .card img {
        width: 100%;
        border-radius: 20px;
        filter: brightness(0.5); }
      #main-eventos .grid-events .card h5 {
        font-weight: bolder; }
      #main-eventos .grid-events .card .card-img-overlay {
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
  #main-eventos .info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 80%;
    margin: 0 auto; }
    #main-eventos .info .info-card {
      background-color: #2c394b;
      display: flex;
      justify-content: space-around;
      border-radius: 20px;
      padding: 20px;
      gap: 20px; }
      #main-eventos .info .info-card .info-text {
        display: flex;
        justify-content: space-around;
        flex-direction: column; }
        #main-eventos .info .info-card .info-text button {
          width: 40%;
          margin: 0 auto; }
        #main-eventos .info .info-card .info-text h3 {
          margin: 0 auto; }
      #main-eventos .info .info-card img {
        width: 400px;
        border-radius: 20px; }

/* Responsive */
@media (max-width: 992px) {
  /* Contacto */
  #main-contacto {
    width: 70%; }
  /* Eventos */
  #main-eventos .grid-events {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "event1 event2" "event3 event4" "event5 event6" "event7 event8" "event9 ."; }
  #main-eventos .info {
    width: 100%; }
    #main-eventos .info .info-card img {
      width: 50%; }
  /* Nosotros */
  #contain-us {
    grid-template-columns: 1fr;
    grid-template-areas: "sec2" "sec1" "sec3" "sec4";
    gap: 10px; }
    #contain-us #sec3 {
      margin: 0 auto; }
      #contain-us #sec3 img {
        width: 50%;
        display: flex;
        margin: 0 auto; } }

@media (max-width: 768px) {
  /* Contacto */
  #main-contacto {
    width: 75%; }
    #main-contacto .names {
      grid-template-columns: 1fr; }
  /* Eventos */
  #main-eventos .grid-events {
    font-size: 16px; }
    #main-eventos .grid-events .card .card-desc {
      display: none; }
  /* Main*/
  main {
    padding: 15px; }
    main .carousel.slide {
      width: 100%; }
  /* Footer */
  footer {
    text-align: center;
    flex-direction: column;
    align-items: center; }
    footer .redes,
    footer .part1,
    footer .part2 {
      width: 100%; }
      footer .redes .icons,
      footer .part1 .icons,
      footer .part2 .icons {
        width: 50%; } }

@media (max-width: 600px) {
  /* Header */
  nav {
    padding-bottom: 10px; }
  /* Main */
  main {
    width: 85%;
    font-size: 2.8vw; }
    main h2 {
      font-size: 6vw; }
  /* Mis Aportes */
  #main-aportes {
    display: flex;
    padding: 50px 5px;
    width: 90%; }
  /* FAQ */
  #main-faq {
    padding: 20px; }
  /* Eventos */
  #main-eventos .grid-events {
    font-size: 16px; }
  #main-eventos .info {
    width: 100%; }
    #main-eventos .info .info-card {
      flex-direction: column; }
      #main-eventos .info .info-card img {
        width: 100%; }
    #main-eventos .info #info1,
    #main-eventos .info #info3,
    #main-eventos .info #info5,
    #main-eventos .info #info7,
    #main-eventos .info #info9 {
      flex-direction: column-reverse; } }

@media (max-width: 576px) {
  #main-eventos .grid-events .card .card-date {
    display: none; }
  main {
    font-size: 3.5vw; }
    main .carousel.slide {
      width: 100%;
      height: 400px; }
      main .carousel.slide img {
        height: 400px;
        object-fit: cover; }
    main .art {
      grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(310px, 1fr)); } }

@media (max-width: 425px) {
  /* Eventos */
  main {
    font-size: 4vw; }
    main .art {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, 1fr); }
      main .art .cuadros .cuadros-img {
        width: 100%; }
  #main-eventos .grid-events {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: "event1" "event2" "event3" "event4" "event5" "event6" "event7" "event8" "event9"; }
    #main-eventos .grid-events .card .card-date {
      display: block; } }

@media (max-width: 375px) {
  main {
    font-size: 5vw; } }

@media (max-width: 320px) {
  /* Main */
  main {
    width: 95%; }
    main h2 {
      font-size: 7vw; }
  /* Contacto */
  #main-contacto {
    width: 85%;
    display: flex; } }
